body {
  background: #fffefe;
  font-family: Arial;
}
.cartao { background: rgb(243, 245, 245); }
#titulo { color: #380ef5; }

.apresentacao {
  color:#0707f7;
  background: #dbeafe;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align:center
}

.Musica {
  color:#ffffff;
  background: #7c3aed;
  font-family: Georgia;
  font-size: 22px;
  text-align:center
}